/* Видео на фоне */
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Помещаем видео на самый низкий слой */
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Контейнер с текстом поверх видео */
.video-content {
  position: relative;
  z-index: 1; /* Текст и элементы будут поверх видео */
  text-align: center;
  color: white;
  padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
}

/* Секция с формой */
.form-section {
  margin-top: 100px;
  background-color: #fff; /* Белый фон */
  padding: 20px;
  border: 2px solid #ff1fa2a8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

/*поля ввода и выпадающие списки*/
input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 2; /* Форма поверх видео */
  position: relative; /* Чтобы форма позиционировалась поверх видео */
}

input:focus, select:focus, button:focus {
  outline: none;
  border-color: #fc5cd4;
  box-shadow: 0 0 5px rgba(170, 5, 101, 0.5);
}

/* Кнопки отправки формы */
button {
  border-radius: 5px;
  color: #fff;
  background-color: #f300aa;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 3; /* Кнопка должна быть выше других элементов */
}

button:hover {
  background-color: #f5549f;
}

/*уведомления об успехе*/
#successMessage {
  margin-top: 20px;
  color: rgb(6, 219, 6);
  font-weight: bold;
}

/*скрытые элементы*/
.hidden {
display: none;
}

/*отступы между метками и полями*/
label {
  display: block;
  margin-top: 10px;
}

.date-time-section {
  margin-left: 40px;
}

/*таблица с доступным временем*/
.date-time-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.date-time-section th, .date-time-section td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.date-time-section th {
  background-color: #ff009d;
  color: #fff;
}

.date-time-section td {
  background-color: #f9f9f9;
}

.date-time-section td:nth-child(even) {
  background-color: #fff;
}

#index.html {
  padding: 40px 20px;
  text-align: center;
}

/*контейнер для ссылки*/
.link-container {
margin-top: 30px; /*отступ сверху*/
text-align: center; /*выравнивание по центру*/
}

.return-section {
  padding: 20px 250px;
  border-radius: 5px;
  display: inline-block; /*оставляем ссылку строчным блоком*/
  margin-bottom: 20px; /*отступ снизу*/
}

.cta-button {
  color:white;
  text-decoration: none;
}

.cta-button:hover {
  color: white;
  text-decoration: underline;
}

.cta-button:active {
  color: gray;
}

footer {
  font-size: 75%;
  margin-top: 70px;
  text-align: center;
  color: white;
}